# Flask e extensões
Flask
flask-smorest
flask-sqlalchemy
flask-migrate
Flask-JWT-Extended
flask-cors

# Banco de dados
pymysql
cryptography
SQLAlchemy

# Serialização
marshmallow
marshmallow-sqlalchemy

# Desenvolvimento
python-dotenv
bcrypt
